/**{
	border: 1px solid red;

}*/

/*font-family: 'Allerta', sans-serif;
*/
body {
	font-family: 'Allerta', sans-serif;
}
.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;

}
.title-a {
	font-size: 24px;
}
.title-b {
	font-size: 50px;

}
.guitarras {
	color: #1F313C;
}
.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}
.portada {
	background: url(../images/background.png);
	color: white;
}



.menu {
	font-size: 24px;
	display: inline-block;
}
.menu li {
	display: inline-block;

}

.logotipo {
	display: inline-block;
}












